@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;700&display=swap');

.results {
  height: 25%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   &__title {
    color: #bb5432;
    margin-bottom: 0.5em;
    font-family: 'Spartan', sans-serif;
    font-size: 2em;
    font-weight: bold;
   }
   &__subtitle {
    color: #bb5432;
    font-family: 'Spartan', sans-serif;
    font-size: 1.5em;
    font-weight: thin;
   }
}
