{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties", // polyfills, propriétés qui n'existent pas encore de base
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
