.currencies{
  height: 50%;
  padding: 30px 20px;
   &__list-item {
    color: #bb5432;
    margin-bottom: 0.5em;
    font-family: 'Spartan', sans-serif;
    font-size: 1em;
    border-bottom: 0.5px solid #bb5432;
   }
   &__list-item:last-child {
     border: none;
   }
   &__list-item:first-child {
     font-weight: 600;
   }
}
